@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero_section {
    background-image: url(./assets/hero_section_img.avif);
    background-position: center;
    background-size: cover;
    min-height: 70vh;
    color: #fff;
}

.hero_section header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    height: 60px;
}

.hero_section header .navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.hero_section header .navbar .nav_links {
    display: flex;
    gap: 20px;
}

.hero_section_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: calc(60vh-60px);
}

.hero_section_container img {
    width: 550px;
}

.hero_section_title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.hero_section_input {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    flex-direction: row;
}

.input_location,
.input_search {
    padding: 5px;
    border: none;
    outline: none;

}

.input_search {
    width: 65%;
}

.input_location {
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.user_link {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    /* background-color: white; */
}

@media only screen and (max-width:600px) {
    .user_link {
        display: flex;
        /* margin-left: 10px; */

    }

    .nav_links .link {
        display: none;
    }

    .navbar {
        padding: 16px;
    }

    .hero_section_container {
        /* min-height: 80vh; */
        margin-top: 40px;
        height: calc(60vh-60px);
    }

    .hero_section_input {
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .input_location,
    .input_search {
        padding: 15px;
        border: none;
        outline: none;
        border-radius: 10px;
        width: 80%;
    }

    .hero_section_container img {
        width: 300px;
    }

}