@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero_section {
    background-image: url(./assets/hero_section_img.avif);
    background-position: center;
    background-size: cover;
    min-height: 70vh;
    color: #fff;
}

.hero_section header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    height: 60px;
}

.hero_section header .navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.hero_section header .navbar .nav_links {
    display: flex;
    gap: 20px;
}

.hero_section_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: calc(60vh-60px);
}

.hero_section_container img {
    width: 550px;
}

.hero_section_title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.hero_section_input {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    flex-direction: row;
}

.input_location,
.input_search {
    padding: 5px;
    border: none;
    outline: none;

}

.input_search {
    width: 65%;
}

.input_location {
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.user_link {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    /* background-color: white; */
}

@media only screen and (max-width:600px) {
    .user_link {
        display: flex;
        /* margin-left: 10px; */

    }

    .nav_links .link {
        display: none;
    }

    .navbar {
        padding: 16px;
    }

    .hero_section_container {
        /* min-height: 80vh; */
        margin-top: 40px;
        height: calc(60vh-60px);
    }

    .hero_section_input {
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .input_location,
    .input_search {
        padding: 15px;
        border: none;
        outline: none;
        border-radius: 10px;
        width: 80%;
    }

    .hero_section_container img {
        width: 300px;
    }

}

.container {
    margin: 3rem auto;
    width: 80%;
}

.we_offer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.we_offer .card {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
}

.we_offer .card:hover {
    scale: 1.05;
}

.we_offer img {
    height: 150px;
    width: 280px;
    object-position: center;
    object-fit: cover;
}

.we_offer h2 {
    padding: 0px 10px;
    font-size: 15px;
    /* text-align: center; */
    font-weight: 400;
}

.we_offer p {
    font-size: 12px;
    padding: 0px 10px 10px 10px;

}

.collection h1 {
    font-weight: 600;
}

.collection .sub_heading {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.collection .sub_heading span:nth-child(2) {
    color: #ff7e8b;
    font-size: 13px
}

.collection_card_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 24px;
}

.collection_card_Container .card {
    height: 300px;
    min-width: 240px;

    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1 {
    background-image: url(./assets/collection1.jpg);
}

.card2 {
    background-image: url(./assets/collection2.jpg);
}

.card3 {
    background-image: url(./assets/collection3.jpg);
}

.card4 {
    background-image: url(./assets/collection4.jpg);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.9)0%,
            rgba(0, 0, 0, 0.05)50%,
            rgba(0, 0, 0, 0.05)85%);
}

.collection_card_Container .card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 12px 16px;
    font-size: 14px;
}

.get_the_app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 3rem 6rem;
}

.get_the_app .semi_container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.get_the_app .semi_container .left {
    flex: 2;
}

.get_the_app .semi_container .left img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.get_the_app .semi_container .right {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.right h1 {
    font-weight: 400;
    font-size: 42px;
}

.right p {
    font-size: 15px;
}

.semi_container .right .radio_container {
    display: flex;
    align-items: center;
    gap: 20px;
    accent-color: red;
}

.semi_container .right .radio_container div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.semi_container .right .radio_container div input {
    height: 15px;
    width: 15px;

}

.semi_container .right .input_container {
    display: flex;
    gap: 8px;

}

.input_container button,
.input_container input {
    padding: 10px 12px;

}

.input_container input {
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
    flex: auto;
}

.input_container button {
    background-color: rgb(239, 79, 95);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

.right .download_container {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.download_container div {
    display: flex;
    gap: 15px;
}

.download_container div img {
    width: 35%;
}

@media screen and (max-width:1300px) {
    .get_the_app .semi_container .left {
        flex: 1;
        /* background-color: red; */
    }

    .get_the_app .semi_container .right {
        flex: 1;
    }

    .get_the_app .semi_container {
        width: 80%;
    }

}

@media screen and (max-width:700px) {
    .get_the_app {
        padding: 32px;
    }

    .get_the_app .semi_container {
        width: 90%;
    }
}

@media only screen and (max-width:700px) {
    .get_the_app {
        padding: 3rem 0;
    }

    .get_the_app .semi_container {
        width: 80%;
        flex-direction: column;
    }
}

.footer {
    width: 100%;


}

.footer_section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.footer_section1 img {
    width: 200px;
}

.section1_button {
    display: flex;
    gap: 16px;
}

.section1_button button {
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
    width: 90px;
    /* background-color: rebeccapurple; */
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 5px;
}

.navigation_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    padding: 3rem 0;
}

.link_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link_container h5 {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.8px;
    margin-bottom: 5px;
}

.link_container .footer_link {
    text-decoration: none;
    color: gray;
    font-weight: 400;
    font-size: 13px;
}

.footer_link:hover {
    color: black;
}

.social_links {
    display: flex;

}

.social_links button {
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    margin: 2px;
}

.footer_store_logo {
    width: 80%;
}

@media only screen and (max-width:900px) {}