@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero_section {
    background-image: url(./assets/hero_section_img.avif);
    background-position: center;
    background-size: cover;
    min-height: 70vh;
    color: #fff;
}

.hero_section header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    height: 60px;
}

.hero_section header .navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.hero_section header .navbar .nav_links {
    display: flex;
    gap: 20px;
}

.hero_section_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: calc(60vh-60px);
}

.hero_section_container img {
    width: 550px;
}

.hero_section_title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.hero_section_input {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    flex-direction: row;
}

.input_location,
.input_search {
    padding: 5px;
    border: none;
    outline: none;

}

.input_search {
    width: 65%;
}

.input_location {
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.user_link {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    /* background-color: white; */
}

@media only screen and (max-width:600px) {
    .user_link {
        display: flex;
        /* margin-left: 10px; */

    }

    .nav_links .link {
        display: none;
    }

    .navbar {
        padding: 16px;
    }

    .hero_section_container {
        /* min-height: 80vh; */
        margin-top: 40px;
        height: calc(60vh-60px);
    }

    .hero_section_input {
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .input_location,
    .input_search {
        padding: 15px;
        border: none;
        outline: none;
        border-radius: 10px;
        width: 80%;
    }

    .hero_section_container img {
        width: 300px;
    }

}

.container {
    margin: 3rem auto;
    width: 80%;
}

.we_offer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.we_offer .card {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
}

.we_offer .card:hover {
    scale: 1.05;
}

.we_offer img {
    height: 150px;
    width: 280px;
    object-position: center;
    object-fit: cover;
}

.we_offer h2 {
    padding: 0px 10px;
    font-size: 15px;
    /* text-align: center; */
    font-weight: 400;
}

.we_offer p {
    font-size: 12px;
    padding: 0px 10px 10px 10px;

}

.collection h1 {
    font-weight: 600;
}

.collection .sub_heading {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.collection .sub_heading span:nth-child(2) {
    color: #ff7e8b;
    font-size: 13px
}

.collection_card_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 24px;
}

.collection_card_Container .card {
    height: 300px;
    min-width: 240px;

    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1 {
    background-image: url(./assets/collection1.jpg);
}

.card2 {
    background-image: url(./assets/collection2.jpg);
}

.card3 {
    background-image: url(./assets/collection3.jpg);
}

.card4 {
    background-image: url(./assets/collection4.jpg);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.9)0%,
            rgba(0, 0, 0, 0.05)50%,
            rgba(0, 0, 0, 0.05)85%);
}

.collection_card_Container .card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 12px 16px;
    font-size: 14px;
}