* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header {
    position: relative;
    height: 350px
}

.img_con {
    position: absolute;
    width: 105%;
    height: 350px;
}

.img_con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_body_section {
    position: absolute;
    width: 100%;
    top: 15px;
}

.nav {

    top: 15px;

    /* background-color: aqua; */

}

.nav .container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 500;
}

.nav .container .logo {
    display: flex;
    align-items: center;
}

.nav .container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

.nav .container ul li {
    padding-left: 20px;
    padding-right: 20px;
}

.nav .container ul li a {
    text-decoration: none;
    font-weight: 0;
}

.zomato_logo {
    width: 300px;
}

.container_header_body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    /* background-color: yellow; */

}

.header_body {
    position: relative;
    top: -50px;
}

.container_header_body p {
    font-size: 40px;
    margin: 20px 0;
}

.search {
    background-color: white;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    max-width: 750px;

}